*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-image: url('cafe_main.jpeg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 115vh;
}

header {
    width: 100%;
    height: 80px;
    background: #fbebd4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

section{
    padding: 2rem 9%;
  }
.logo-ss{
    width: 5.5rem;
}

.webname {
    font-size: 28px;
    font-weight: bold;
    font-family: "Satisfy", sans-serif;
    color: #725529;
}
.hamburger{
    display: none;
}
.nav-bar ul {
    display: flex;
}
.nav-bar ul li a{
    display: block;
    color: #725529;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
    font-family: "Silkscreen", sans-serif;
}
.nav-bar ul li a:hover {
    color: #ad926b;
    background: white;
}
.nav-bar ul li a:active{
    color: #fbebd4;
    background: white;
}

@media only screen and (max-width: 1320px){
    header{
        padding: 0 50 px;
    }
}

@media only screen and (max-width: 1100px){
    header{
        padding: 0 30 px;
    }
}

@media only screen and (max-width: 700px){
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger .line{
        width: 30px;
        height: 3px;
        background: #fff;
        margin: 6px 0;
    }
    .nav-bar{
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #fbebd4;
        transition: 0.5s;
        overflow: hidden;
    }
    .nav-bar.active{
        height: 350px;
    }
    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar.active ul {
        opacity: 1;
    }
    .nav-bar ul li a{
        margin-bottom: 12px;
    }
}

.overlay{
    position: absolute;
    top: 80px;
    right: 0;
    width: 50%;
    height: 100vh;
    background-color: #725529;
    opacity: 0.7;
    padding: 0;
}

.text{
    position: relative;
    text-align: center;
    padding-top: 250px;
    font-size: 50px;
    animation: fadeIn 5s;
}

h1{
    font-family: "Satisfy", sans-serif;
}

h3{
    font-family: "Bree Serif", sans-serif;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  h12{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    display: flex;
    padding: 10px 14px;
    
  }

  footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    color: #725529;
  }

.footer-bottom {
    background: #fbebd4;
    width: 100vw;
    padding: 5px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 10px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span {
    text-transform: uppercase;
    font-weight: 200;

}

.home {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url('cafe_main2.jpg') no-repeat;
    background-size:cover ;
    background-position: center;
  }
  
  .home .content{
    max-width: 50rem;
  }
  
  .home .content h3{
    font-size: 6rem;
    color: #fbebd4;
    font-family: "Satisfy", sans-serif;
  }
  
  .home .content span{
    font-size: 2.5rem;
    text-align: center;
    color: #fff;
    padding: 1rem 0;
    line-height: 1.5;
    font-family: "Bree Serif", sans-serif;
  }
  .home .content p{
    font-size: 1rem;
    color: #fbebd4;
    padding: 1rem 0;
    line-height: 1.5;
  }
  